starfish==0.1.5
napari==0.1.3
imagingDB @ git+https://github.com/czbiohub/imagingDB#egg=imagingDB
spacetx_biohub_writer @ git+https://github.com/spacetx/spacetx-biohub-writer#egg=spacetx_biohub_writer